In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
taxi=pd.read_csv("/content/drive/MyDrive/TaxiFare.csv")
taxi.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
taxi=pd.read_csv("/content/drive/MyDrive/TaxiFare.csv")
taxi.head()

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [ ]:
taxi.shape

(50000, 8)

In [ ]:
taxi.isnull().sum()

unique_id               0
amount                  0
date_time_of_pickup     0
longitude_of_pickup     0
latitude_of_pickup      0
longitude_of_dropoff    0
latitude_of_dropoff     0
no_of_passenger         0
dtype: int64

In [ ]:
taxi.drop(taxi[taxi["no_of_passenger"]==0].index,axis=0,inplace=True)

In [ ]:
taxi.shape

(49835, 8)

In [ ]:
from math import radians, cos, sin, asin, sqrt

def haversine(a):
    lon1=a[0]
    lat1=a[1]
    lon2=a[2]
    lat2=a[3]
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c =  2 * asin(sqrt(a))
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km
# 1min

In [ ]:
taxi['distance'] = taxi[['longitude_of_pickup','latitude_of_pickup','longitude_of_dropoff','latitude_of_dropoff']].apply(haversine,axis=1)

In [ ]:
taxi = taxi.drop(taxi[taxi["amount"]<0].index, axis=0)

In [ ]:
taxi=taxi.drop(columns=['longitude_of_pickup','latitude_of_pickup','longitude_of_dropoff','latitude_of_dropoff','date_time_of_pickup','unique_id'])

In [ ]:
taxi.head()

   amount  no_of_passenger  distance
0     4.5                1  1.030764
1    16.9                1  8.450134
2     5.7                2  1.389525
3     7.7                1  2.799270
4     5.3                1  1.999157

In [ ]:
y=taxi.amount 
x=taxi.drop("amount",axis=1)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
scaler = MinMaxScaler().fit(x)
scaledData=scaler.transform(x)

In [ ]:
X= pd.DataFrame(scaledData)
x_train,x_test,y_train,y_test= train_test_split(X,y,train_size = 0.8, test_size = 0.2,random_state =42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
fit_RF = RandomForestRegressor(n_estimators = 200).fit(x_train,y_train)

In [ ]:
pred_train_RF = fit_RF.predict(x_train)
pred_test_RF = fit_RF.predict(x_test)
from sklearn.metrics import mean_squared_error
RMSE_train_RF = np.sqrt(mean_squared_error(y_train, pred_train_RF))
RMSE_test_RF = np.sqrt(mean_squared_error(y_test, pred_test_RF))

In [ ]:
print("Root Mean Squared Error For Training data = "+str(RMSE_train_RF))
print("Root Mean Squared Error For Test data = "+str(RMSE_test_RF))

Root Mean Squared Error For Training data = 3.9486328740966385
Root Mean Squared Error For Test data = 5.9502330967859045

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_train, pred_train_RF)

0.8326318331888174

In [ ]:
r2_score(y_test, pred_test_RF)

0.6357052222145463